<div class="finchain-container">
  <div
    class="bg-gradient-to-r from-blue-300 to-blue-800 flex items-center justify-between p-5 items-top drop-shadow-lg">
    <h1 class="text-4xl font-bold ">
      <span class="text-black">FinChain</span><br><span class="text-3xl drop-shadow-lg">Storage</span>
    </h1>
  </div>
  <div class="button-container">
    <button class="registration-button">Registration</button>
    <button class="login-button">Login</button>
  </div>


  <!----------Registration form------->
  <div id="registra" class="bg-white p-6 max-w-sm mx-auto rounded shadow-lg">
    <div class="mb-4">
      <label class="block text-blue-700 text-sm font-bold mb-2" for="employee-id">
        Employee ID
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="employee-id"
        type="text" placeholder="Employee ID">
    </div>

    <div class="mb-6">
      <label class="block text-blue-700 text-sm font-bold mb-2" for="name">
        Name
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="name" type="text"
        placeholder="Name">
    </div>

    <div class="flex items-center justify-center">
      <button class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="button">
        Register
      </button>
    </div>
  </div>
  <!----------login form------->
  <div id="registra" class="bg-white p-6 max-w-sm mx-auto rounded shadow-lg">
    <div class="mb-4">
      <label class="block text-blue-700 text-sm font-bold mb-2" for="employee-id">
        Employee ID
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="employee-id"
        type="text" placeholder="Employee ID">
    </div>

    <div class="mb-6">
      <label class="block text-blue-700 text-sm font-bold mb-2" for="name">
        Password
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="password" type="text"
        placeholder="Password">
    </div>

    <div class="flex items-center justify-center">
      <button class="bg-black hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" type="button">
        Login
      </button>
    </div>
  </div>
</div>