<div class="finchain-container">
  <div
    class="bg-gradient-to-r from-blue-300 to-blue-800 flex items-center justify-between p-5 items-top drop-shadow-lg">
    <h1 class="text-4xl font-bold ">
      <span class="text-black">FinChain</span><br><span class="text-3xl drop-shadow-lg">Storage</span>
    </h1>
  </div>
  <div class="button-container">
    <button routerLink="api/register" class="registration-button">Register</button>
    <button routerLink="api/login" class="login-button">Login</button>
  </div>
  <router-outlet></router-outlet>
</div>